



#calculator{
    box-sizing: border-box;
    width: 500px; 
    height: 500px; 
    background-color: gray;  
    border: black;
    border: 10px solid black; /* Set the border width and style */
    

}

.Buttons {
    background-color: orangered;
}

#output{
    box-sizing: border-box;
    width: 250px; 
    height: 40px; 
    border: black;
    border: 5px solid black; 
    background-color: aqua;
}